<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>CHECKOUT PAGE</h1>
            <ul>
                <li href="/">Home</li>
                <li href="/purchase/cart">Cart</li>
                <li href="/purchase/products">Shop</li>
            </ul>
        </div>
    </div>
</div>