<div class="container">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                    <h1>Thank you for your purchase</h1><br>
                    <h4>Find your recipt below</h2><br>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em id="time"></em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Receipt#:<em id="randomNumber"></em></h1>
                </div>
                </span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th></th>
                            <th class="text-center">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                      {{#each cart}}
                        <tr>
                            <td class="col-md-9"><em></em>{{product_name}}</h4></td>
                             <td class="col-md-9"><em></em>{{{stock_quantity}}}</h4></td>
                             <td class="col-md-9"><em></em></h4></td>
                            <td class="col-md-1" style="text-align: center">{{price}}</td>
                        </tr>
                       {{/each}} 
                        
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right">
                            <td class="text-center">
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><span class="totalCart"></span></h4></td>
                        </tr>
                    </tbody>
                </table>
                <button onclick="printpage() " type="button" class="btn btn-success btn-lg btn-block">
                    Print Receipt   <span class="glyphicon glyphicon-chevron-right"></span>
                </button></td>
            </div>
        </div>
    </div>
<script>
function printpage() {
  window.print();
}
</script>

<script>
var d = new Date();
document.getElementById("time").innerHTML = d;
</script>
<script>
    document.getElementById("randomNumber").innerHTML =
    Math.floor(Math.random() * 10000000) + 1;
</script>

<script>
	$(document).ready(function() {
    	
    $.ajax({
        method: "GET",
        url: "/cartData"
    }).then(function(response) {
   
		$('.totalCart').append("$" + response.totals[0].total)

    });
	
});
</script>